@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Press+Start+2P&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Press Start 2P', cursive; */
}
body{
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 100%;
}
.bc-opaco{
    background-color:#252323A6;
}
.bc-yellow{
    background-color:#FFD700;
}
.txt-white{
    color: white;
}
.txt-center{
    text-align: center;
}
h1{
    text-align: center;
}
input{
    border-color: white;
    border-radius: 0.5rem;
}
.desc{
    text-align: center;
}
.card{
    justify-content: center;
    width: 37rem;
    height: 25rem;
    margin-left: 5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    margin: auto;
}
header {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    font-size: 0.7em;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}
.font-ps2p{
    font-family: 'Press Start 2P','Open Sans', sans-serif;
    margin-bottom: 0px;
}
.txt-yellow{
    color: #FFD700;
}
.txt-red{
    color: red;
}
.txt-green{
    color: green;
}
#div-info{
    display: flex;
    justify-content: center;
}
#div-name{
    width: 50%;
}
.divs-info{
    margin: 30px;
}
.footer{
    height: 20%;
    font-size: 0.85em;
}
.p-footer{
    margin-bottom: 0;
}