@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Press+Start+2P&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Press Start 2P', cursive; */
}
body{
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    align-items: center;
}
.bc-opaco{
    background-color:#252323A6;
}
.bc-yellow{
    background-color:#FFD700;
}
.txt-white{
    color: white;
}
.txt-center{
    text-align: center;
}
h1{
    font-family: 'Press Start 2P','Open Sans', sans-serif;
    color: #FFD700;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
button{
    font-family: 'Press Start 2P','Open Sans', sans-serif;
    padding: 1.5rem;
}
input{
    border-color: white;
    height: 4rem;
    border-radius: 0.5rem;
}
.desc{
    padding: 1rem;
}
.card{
    justify-content: center;
    width: 37rem;
    height: 25rem;
    margin-left: 5rem;
    border-radius: 1rem;
}
.top{
    padding: 1.5rem;
}
.center{
    margin: 2rem;
}