@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Press+Start+2P&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Press Start 2P', cursive; */
}

html, body {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
}

body {
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bc-opaco {
    background-color:#252323A6;
}

.bc-yellow {
    background-color:#FFD700;
}

.txt-white {
    color: #FBFFFE;
}

header {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    font-size: 0.7em;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.txt-yellow{
    color: #FFD700;
}

.txt-red{
    color: red;
}

.txt-green{
    color: green;
}

#div-info {
    display: flex;
    justify-content: center;
}
#div-name {
    width: 50%;
}

.divs-info {
    margin: 30px;
}

.txt-yellow {
    color: #FFD700;
}

.txt-black {
    color: #252323;
}

.title-font {
    font-family: 'Press Start 2P','Open Sans', sans-serif;
}

.border-white {
    border: 1px solid #FBFFFE;
}

.btn {
    transition: 200ms;
}

.btn:disabled {
    background-color: rgba(255, 215, 0, .5) !important;
}

.btn:hover {
    filter: brightness(.85) !important;
    background-color: #FFD700 !important;
}